.projectsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}

/* Ensure both children flex properly */
.projectContainer > .projectInfo,
.projectContainer > .sliderContainer {
    flex: 1 1 500px; /* minimum width before wrapping */
    box-sizing: border-box;
}

/* Description Styling */
.projectContainer > .projectInfo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--navbar-bg);
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Slider container styling */
.projectContainer > .sliderContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

/* Slider styling */
.sliderContainer > .slider {
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.sliderContainer > .slider > img {
    width: 100%;
    height: auto;
    flex: 0 0 100%;
    border-radius: 8px;
    object-fit: cover;
}

/* Dots for navigation */
.dotsContainer {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #888;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}

@media screen and (max-width: 1000px) {
    .projectInfo {
        order: -1;
    }    
}