* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;
    perspective: 1000px;
    overflow: hidden;
}
nav {
    background-color: #212121;
    border-radius: 6px;
    margin: 10px;
    transform: rotateX(10deg); /* Rotates the navbar along the X-axis */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Adds shadow for depth */
    transition: transform 0.3s ease; /* Smooth animation for hover */
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    flex: 1;
    display: flex;
    flex-direction: row;
}
nav[data-page-loaded="true"] {
    opacity: 1;
    transform: rotateX(10deg);
}
nav:hover {
    transform: rotateX(0deg);
}
nav:hover ul li a {
    transform: translateX(0px) translateY(-5px);
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
    box-shadow: none;
}
nav:hover #profile-icon {
    width: 20px;
    transition: 0.3s ease;
}
nav ul {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    list-style: none;
}
.perspective-wrapper {
    perspective: 500px;
}
nav ul li a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 8px;
    margin: 4px 0px 4px 6px;
    border-radius: 6px;
    cursor: pointer;
    transform: translateZ(10px) rotateX(-10deg);
    transition: transform 0.3s ease, filter 0.3s ease, background-color 0.3s ease, background-image 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #388E3C;
    animation: glint 0.3s linear;
}
nav ul li a:active, nav ul li a.active {
    transform: translateY(0px);
    box-shadow: none;
    background-color: #2C6B36;
}
nav ul li a.active:hover {
    background-color: #2C6B36;
    box-shadow: none;
    transform: translateY(0px);
}
.current {
    transform: translateY(-5px);
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
    background-color: #388E3C;
}
#profile-container {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
#profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../images/guus.png);
    background-size: cover;
    background-position: center;
    margin: 0px 8px 0px 0px;
    transition: scale 0.3s ease;
}
#profile-icon:hover {
    animation: none;
    scale: 1.1;
}
@keyframes glint {
    20% {
        background-image: linear-gradient(to bottom right, white, #388E3C, #388E3C, #388E3C);
    }
    40% {
        background-image: linear-gradient(to bottom right, #388E3C, white, #388E3C, #388E3C);
    }
    60% {
        background-image: linear-gradient(to bottom right, #388E3C, #388E3C, white, #388E3C);
    }
    80% {
        background-image: linear-gradient(to bottom right, #388E3C, #388E3C, #388E3C, white);
    }
}
@media (max-width: 768px) {
    nav {
        perspective: 800px;
        transform: rotateX(5deg);
    }
}
@media (min-width: 1200px) {
    #container {
        perspective: 1500px;
    }
}
