@import url(colors.css);
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--body-bg);
    font-family: Arial, Helvetica, sans-serif;
}
.load {
    animation: load 0.6s ease-out forwards;
    opacity: 0;
}
.wip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wip img {
    border-radius: 6px;
    max-width: 500px;
    width: 100%;
    height: auto;
}
.wip h1 {
    color: var(--primary-text);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
}
#container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;
    perspective: 1000px;
    overflow: hidden;
}
nav {
    background-color: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    margin: 10px 10px 5px 10px;
    transform: rotateX(10deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    flex: 1;
    display: flex;
    flex-direction: row;
}
nav[data-page-loaded="true"] {
    opacity: 1;
    transform: rotateX(10deg);
}
nav:hover {
    transform: rotateX(0deg);
    background-color: rgba(43, 42, 42, 0.5);
}
nav:hover ul li a {
    transform: translateX(0px) translateY(-5px);
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
    box-shadow: none;
}
nav:hover #profile-icon {
    transform: translateY(-5px);
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
}
nav ul {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    list-style: none;
}
.perspective-wrapper {
    perspective: 500px;
}
nav ul li a {
    display: inline-block;
    background-color: var(--btn-bg);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 8px;
    margin: 4px 0px 4px 6px;
    border-radius: 6px;
    cursor: pointer;
    transform: translateZ(10px) rotateX(-10deg);
    transition: scale 0.3s ease, transform 0.3s ease, filter 0.3s ease, background-color 0.3s ease, background-image 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    text-decoration: none;
    user-select: none;
}
nav ul li a:hover {
    background-color: var(--btn-hover-bg);
    animation: glint 0.3s linear;
    scale: 1.1;
}
nav ul li a:active {
    transform: translateY(0px);
    box-shadow: none;
    background-color: var(--btn-active-bg);
    scale: 1;
}
nav ul li a.current {
    transform: translateY(-5px);
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5));
    background-color: var(--btn-hover-bg);
}
nav ul li a.current:active {
    scale: 1;
    transform: translateY(0);
    background-color: var(--btn-active-bg);
}
#profile-icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-image: url(../images/guus.png);
    background-size: cover;
    background-position: center;
    margin: 0px 8px 0px 8px;
    transition: scale 0.3s ease, filter 0.3s ease, transform 0.3s ease;
}
#profile-icon:hover {
    animation: none;
    scale: 1.1;
}
#profile-icon:active {
    scale: 1;
}
@keyframes glint {
    20% {
        background-image: linear-gradient(to bottom right, white, var(--btn-hover-bg), var(--btn-hover-bg), var(--btn-hover-bg));
    }
    40% {
        background-image: linear-gradient(to bottom right, var(--btn-hover-bg), white, var(--btn-hover-bg), var(--btn-hover-bg));
    }
    60% {
        background-image: linear-gradient(to bottom right, var(--btn-hover-bg), var(--btn-hover-bg), white, var(--btn-hover-bg));
    }
    80% {
        background-image: linear-gradient(to bottom right, var(--btn-hover-bg), var(--btn-hover-bg), var(--btn-hover-bg), white);
    }
}
@media (max-width: 768px) {
    nav {
        perspective: 800px;
        transform: rotateX(5deg);
    }
}
@media (min-width: 1200px) {
    #container {
        perspective: 1500px;
    }
}
#content-container {
    margin: 10px;
    height: 100%;
    /* background-color: var(--navbar-bg); */   
    border-radius: 6px;
}
#content-container > h1 {
    padding: 10px 20px;
    background-color: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    text-align: center;
    color: var(--primary-text);
    user-select: none;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}
#content-container > h1:hover {
    background-color: rgba(43, 42, 42, 0.5);
}
#box-container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
@media screen and (max-width: 768px) {
    #box-container {
        flex-direction: column;
        row-gap: 20px;
    }
}
.box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    max-width: 500px;
    width: 100%;
    height: auto;
    transition: background-color 0.3s ease;
}
.box-wrapper:hover {
    background-color: rgba(43, 42, 42, 0.5);
}

/* box-1 styles */
.box-1-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 5% 1fr;
    grid-template-areas: 
    'bar'
    'bar-2'
    'body';
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 500 / 350;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    scale: 0.8;
}
.box-1-wrapper:hover {
    cursor: pointer;
}
.box-1-wrapper:hover .box-1-bg {
    margin-bottom: 0px;
    box-shadow: none;
}
.box-1-wrapper:hover .box-1-paper {
    transform: translateY(-65px);
    margin: 0 2% 0 2%;
    height: 100px;
}
.box-1-bar {
    grid-area: bar;
    background-color: #827a30;
    border-radius: 6px 6px 0px 0px;
    width: 20%;
    text-align: center;
}
.box-1-bar::after {
    position: absolute;
    top: 0.9%;
    left: 18%;
    content: "";
    background-color: #827a30;
    border-radius: 6px;
    width: 30px;
    height: 50px;
    rotate: -45deg;
    z-index: -1;
}
.box-1-bar-2-bg {
    grid-area: bar-2;
    background-color: #827a30;
    border-radius: 0px 6px 0px 0px;
}
.box-1-paper {
    grid-area: bar-2;
    border-radius: 6px 6px 0px 0px;
    margin: 1% 2% 0 2%;
    height: 100px;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur to the background */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Adds depth and separation */
}
.box-1-paper p {
    margin: 5px;
}
.box-1-bar-2 {
    grid-area: bar-2;
    background-color: var(--secondary-accent-color);
    margin-left: 26%;
    border-radius: 6px 6px 0px 0px;
    z-index: 1;
}
.box-1-bar-2-triangle {
    grid-area: bar-2;
    width: 0;
    height: 0;
    margin-left: 8.5%;
    border-left: 90px solid transparent;  /* Left side invisible */
    border-right: 50px solid transparent; /* Right side invisible */
    border-bottom: 50px solid var(--secondary-accent-color);   /* Color for the triangle */
    z-index: 1;
}
.box-1-bg {
    grid-area: body;
    background-color: #827a30;
    border-radius: 0px 6px 6px 6px;
}
.box-1-bg-2 {
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: body;
    background-color: var(--secondary-accent-color);
    border-radius: 6px 0px 6px 6px;
    transition: 0.3s ease;
    transform-style: preserve-3d;
    z-index: 3;
}
.box-1-decoration {
    width: 40%;
    height: 35%;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    background-color: rgba(30, 144, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur to the background */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Adds depth and separation */
    padding: 10px;
    transition: transform 0.3s ease;
    transform: translateZ(40px);
}

/* box-2 styles */
.box-2-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: 
    'bar'
    'body';
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 500 / 350;
    margin: 10px 40px 10px 40px;
    perspective: 1000px;
    transition: transform 0.3s ease;
    scale: 0.8;
}
.box-2-wrapper:hover .box-2-bg {
    transform: rotateX(-20deg);
}
.box-2-wrapper:hover .box-2-bg-2 {
    background-color: white;
    transform: translateY(-30px);
}
.box-2-wrapper:hover .box-2-bar {
    transform: translateY(20px);
}
.box-2-wrapper:hover .box-2-bg-2 p {
    visibility: visible;
}
.box-2-wrapper:hover {
    cursor: pointer;
    transform: perspective(1000px) rotateY(10deg); /* Rotate slightly to the right */
}
.box-2-bar-bg {
    grid-area: bar;
    background-color: var(--secondary-accent-color);
    margin-top: 10px;
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 6px 6px 0px 0px;
}
.box-2-bar {
    grid-area: bar;
    background-color: var(--accent-color);
    width: 30%;
    border-radius: 6px 6px 0px 0px;
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.5);
    margin-left: 1em;
    transition: transform 0.3s ease;
}
.box-2-bar p {
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.box-2-bg-2 {
    grid-area: body;
    background-color: var(--secondary-accent-color);
    transition: transform 0.3s, background-color 0.3s ease;
    border-radius: 0px 0px 6px 6px;
}
.box-2-bg-2 p {
    margin: 5px;
    visibility: hidden;
}
.box-2-bg {
    grid-area: body;
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: var(--secondary-accent-color);
    border-radius: 6px;
    transition: transform 0.3s ease;
    transform-origin: bottom;
}
.box-2-sticker {
    background-color: var(--success-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
}
@media screen and (max-width: 768px) {
    #container {
        padding: 0 10px;
    }
    .box-2-wrapper {
        margin: 5px 0px 0px 0px;
    }
    .box-2-bar p {
        font-size: 1.2em;
    }
}
@keyframes load {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}