.loader-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease;
    z-index: 999;
    transition: opacity .2s ease;
}

.loader-container.hidden,
.loader-container.display-none {
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.loader-container.shown {
    opacity: 1;
    width: 100%;
    height: 100%;
    pointer-events: all;
    user-select: all;
}

.loader {
  width: min(100%, 500px);
  aspect-ratio: 1/1;
  /* border: 2px solid whitesmoke; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  'b1 b2 b3'
  'b4 b4 b5'
  'b6 b7 b5';
  gap: clamp(0.75rem, 1vw, 1rem);
  margin: 1em;
}

.block {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: inset 0px 0px 10px white;
  transform: translateY(110%);
  opacity: 0;
  animation: blockAnimation 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.block.b1 { grid-area: b1; animation-delay: 0;}

.block.b2 { grid-area: b2; animation-delay: .2s;}

.block.b3 { grid-area: b3; animation-delay: .4s;}

.block.b4 { grid-area: b4; animation-delay: .6s;}

.block.b5 { grid-area: b5; animation-delay: 1.3s;}

.block.b6 { grid-area: b6; animation-delay: 1s;}

.block.b7 { grid-area: b7; animation-delay: 1.2s;}

@keyframes blockAnimation {
  0% {
    transform: translateY(110%) scale(0.7, 1.2);
    opacity: 0;
  }

  12.5% {
    transform: translateY(55%) scale(0.9, 1.05);
  }

  25% {
    transform: translateY(-2%) scale(1, 1);
    opacity: 1;
  }

  35%, 65% {
    transform: translateY(0%) scale(1, 1);
    opacity: 1;
  }

  85% {
    transform: translateY(-1.5%) scale(1.02, 0.98);
    opacity: 1;
  }

  100% {
    transform: translateY(-110%) scale(0.7, 1.2);
    opacity: 0;
  }
}