.wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}


.contentContainer {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    perspective: 1000px;
}

.contentContainer > .top {
    width: 100%;
    height: 2em;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.contentContainer > .top p {
    letter-spacing: 2px;
}

/* icon styles */
.contentContainer > .top .icon {
    width: 1.5em;
    height: 1.5em;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.2s ease;
}

.contentContainer > .top .icon:hover {
    cursor: pointer;
    scale: 1.05;
}

.contentContainer > .top .icon.enlarge {background-color: var(--file-enlarge-color);}
.contentContainer > .top .icon.enlarge:hover {background-color: var(--file-enlarge-hover);}
.contentContainer > .top .icon.enlarge:active {background-color: var(--file-enlarge-active);}

.contentContainer > .top .icon.close {background-color: var(--file-close-color);}
.contentContainer > .top .icon.close:hover {background-color: var(--file-close-hover);}
.contentContainer > .top .icon.close:active {background-color: var(--file-close-active);}

.contentContainer > .inner {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 8px 8px;
    border: 4px solid var(--accent-color);
    background-color: var(--accent-color);
    border-top: none;
    overflow: hidden;
    position: relative;
}

.contentContainer > .inner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 4px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contentContainer > .inner > img {
    width: 100%;
    height: 100%;
    user-select: none;
    border-radius: 4px;
}


/* perspective */
.contentContainer > .top, .contentContainer > .inner {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contentContainer:hover > .top, .contentContainer:hover > .inner {
    transform: rotateY(-2deg);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.contentContainer {
    animation: test 2s ease forwards;
}


.projectInfo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.projectContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 2em;
}