.projectsContainer {
    display: flex;
    flex-direction: column;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
}

.projectContainer:not(.projectContainer:last-of-type) {
    margin-bottom: 1em;
}

.projectContainer > .projectInfo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.projectContainer > .sliderContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    border-radius: 8px;
    overflow: hidden;
    max-width: 1000px;
}

.sliderContainer > .slider {
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    /* width: 100%; */
    transition: transform 0.5s ease-in-out;
}

.sliderContainer > .slider > img {
    width: 100%;
    height: auto;
    flex: 0 0 100%;
    border-radius: 8px;
    object-fit: cover;
}


.dotsContainer {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #888;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}